# Classification Project on Types of Iris

In [1]:
import pandas as pd

## 1. Data Source

[Data source link](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/)

## 2. Import Data

In [2]:
data_folder = 'data/'

In [3]:
data_filename = 'iris.data'

In [4]:
df = \
pd.read_csv(data_folder + data_filename,
           header=None)

In [5]:
df.head(3)

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa

## 3. Relabel Data Columns

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

In [6]:
columns_names = \
['sepal_length', 'sepal_width', 
 'petal_length', 'petal width', 
 'class']

In [7]:
df.columns = columns_names

In [8]:
df

     sepal_length  sepal_width  petal_length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## 4. Recode Target Variable ("class")

##### Learnig all possible values of 'class' variable:

In [9]:
df['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

##### Writing function to recode the "class" variable:

In [10]:
def recode_target_variable(i):
    if i == 'Iris-setosa':
        return 1
    elif i == 'Iris-versicolor':
        return 2
    elif i == 'Iris-virginica':
        return 3

##### Applying the function to recode the target variable to a new variable:

In [11]:
df['class_numerical'] = \
df['class'].apply(recode_target_variable)

##### Double-checking recoding results:

In [12]:
df['class_numerical'].value_counts()

1    50
2    50
3    50
Name: class_numerical, dtype: int64

In [13]:
df

,sepal_length,sepal_width,petal_length,petal width,class,class_numerical
0,5.1,3.5,1.4,0.2,Iris-setosa,1
1,4.9,3.0,1.4,0.2,Iris-setosa,1
2,4.7,3.2,1.3,0.2,Iris-setosa,1
3,4.6,3.1,1.5,0.2,Iris-setosa,1
4,5.0,3.6,1.4,0.2,Iris-setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,3
146,6.3,2.5,5.0,1.9,Iris-virginica,3
147,6.5,3.0,5.2,2.0,Iris-virginica,3
148,6.2,3.4,5.4,2.3,Iris-virginica,3
149,5.9,3.0,5.1,1.8,Iris-virginica,3

## 5. Split Data to Train Dataset and Test Dataset

In [14]:
import numpy as np

##### Creating X as feature vector

In [15]:
X = np.array(df.iloc[:, :4])

##### Creating y as target vector

In [16]:
y = np.array(df['class_numerical'].values.tolist())

##### Splitting feature vector, target vector to train dataset and test dataset

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = \
train_test_split(X, y, test_size=0.2, random_state=123,
                 shuffle=True)

## 6. Train Model Using Training Dataset

##### Using logistic regression

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
logit = LogisticRegression(C=100, n_jobs=10, random_state=123, verbose=2)

##### Using the train dataset to train for the logistic regression model

In [21]:
import time

begin = time.time()

logit.fit(X_train, y_train)

end = time.time()

print('total time',round((end-begin),5),'sec')

[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.

RUNNING THE L-BFGS-B CODE

           * * *

Machine precision = 2.220D-16
 N =           15     M =           10

At X0         0 variables are exactly at the bounds

At iterate    0    f=  1.31833D+02    |proj g|=  9.85333D+01

At iterate    1    f=  1.26026D+02    |proj g|=  1.04094D+02

At iterate    2    f=  1.16689D+02    |proj g|=  7.20801D+01

At iterate    3    f=  9.68441D+01    |proj g|=  9.93328D+01

At iterate    4    f=  7.94581D+01    |proj g|=  5.57300D+01

At iterate    5    f=  6.18048D+01    |proj g|=  3.26696D+01

At iterate    6    f=  5.00164D+01    |proj g|=  1.28294D+01

At iterate    7    f=  3.90757D+01    |proj g|=  4.03024D+01

At iterate    8    f=  2.78724D+01    |proj g|=  9.58477D+00

At iterate    9    f=  1.96851D+01    |proj g|=  2.88207D+00

At iterate   10    f=  1.43748D+01    |proj g|=  5.09786D+00

At iterate   11    f=  1.16492D+01    |proj g|=  2.03205D+00

At iterate   12    f=  1.04364D+01    |proj g|=  2.33303D+00

At iterate   13    f=  1.02982D+01    |proj g|=  4.64450D+00

At iterate   14    f=  9.85769D+00    |proj g|=  2.17376D+00

At iterate   15    f=  9.71896D+00    |proj g|=  1.63445D+00

At iterate   16    f=  9.55599D+00    |proj g|=  1.38671D+00

At iterate   17    f=  8.94923D+00    |proj g|=  4.71892D-01

At iterate   18    f=  8.54040D+00    |proj g|=  5.37193D-01

At iterate   19    f=  8.38426D+00    |proj g|=  8.09232D-01

At iterate   20    f=  7.74936D+00    |proj g|=  1.64035D+00

At iterate   21    f=  6.44189D+00    |proj g|=  1.40813D+00

At iterate   22    f=  6.13930D+00    |proj g|=  1.48241D+00

At iterate   23    f=  5.82008D+00    |proj g|=  5.33175D-01

At iterate   24    f=  5.64652D+00    |proj g|=  2.87148D+00

At iterate   25    f=  5.58340D+00    |proj g|=  2.71816D+00

At iterate   26    f=  5.50593D+00    |proj g|=  2.01295D-01

At iterate   27    f=  5.50166D+00    |proj g|=  5.06686D-01

At iterate   28    f=  5.49434D+00    |proj g|=  1.55977D-01

At iterate   29    f=  5.48570D+00    |proj g|=  1.95865D-01

At iterate   30    f=  5.45754D+00    |proj g|=  4.86122D-01

At iterate   31    f=  5.41837D+00    |proj g|=  5.60157D-01

At iterate   32    f=  5.35535D+00    |proj g|=  2.13479D+00

At iterate   33    f=  5.23061D+00    |proj g|=  1.28484D+00

At iterate   34    f=  5.04518D+00    |proj g|=  1.23824D+00

At iterate   35    f=  4.96976D+00    |proj g|=  1.25064D+00

At iterate   36    f=  4.96385D+00    |proj g|=  9.87213D-01

At iterate   37    f=  4.90681D+00    |proj g|=  2.21706D-01

At iterate   38    f=  4.88561D+00    |proj g|=  1.79280D-01

At iterate   39    f=  4.88165D+00    |proj g|=  8.02465D-02

At iterate   40    f=  4.88026D+00    |proj g|=  4.27509D-02

At iterate   41    f=  4.87995D+00    |proj g|=  3.61217D-02

At iterate   42    f=  4.87955D+00    |proj g|=  3.94989D-02

At iterate   43    f=  4.87906D+00    |proj g|=  2.14342D-01

At iterate   44    f=  4.87667D+00    |proj g|=  1.57874D-01

At iterate   45    f=  4.87492D+00    |proj g|=  2.40228D-01

At iterate   46    f=  4.87369D+00    |proj g|=  2.95785D-02

At iterate   47    f=  4.87303D+00    |proj g|=  2.31227D-02

At iterate   48    f=  4.87291D+00    |proj g|=  2.08861D-02

At iterate   49    f=  4.87253D+00    |proj g|=  1.80138D-02

At iterate   50    f=  4.87232D+00    |proj g|=  3.96297D-02

At iterate   51    f=  4.87184D+00    |proj g|=  4.35462D-02

At iterate   52    f=  4.87048D+00    |proj g|=  8.58279D-02

At iterate   53    f=  4.86723D+00    |proj g|=  1.69802D-01

At iterate   54    f=  4.86269D+00    |proj g|=  2.70339D-01

At iterate   55    f=  4.85541D+00    |proj g|=  4.38272D-01

At iterate   56    f=  4.84754D+00    |proj g|=  2.96004D-01

At iterate   57    f=  4.83656D+00    |proj g|=  2.40743D-02

At iterate   58    f=  4.83648D+00    |proj g|=  3.10946D-02

At iterate   59    f=  4.83642D+00    |proj g|=  1.37025D-02

At iterate   60    f=  4.83640D+00    |proj g|=  1.33819D-02

At iterate   61    f=  4.83613D+00    |proj g|=  2.48986D-02

At iterate   62    f=  4.83467D+00    |proj g|=  4.87306D-02

At iterate   63    f=  4.83198D+00    |proj g|=  5.94721D-02

At iterate   64    f=  4.82562D+00    |proj g|=  2.55847D-01

At iterate   65    f=  4.81825D+00    |proj g|=  4.18765D-01

At iterate   66    f=  4.80582D+00    |proj g|=  8.92395D-02

At iterate   67    f=  4.78041D+00    |proj g|=  4.16741D-01

At iterate   68    f=  4.76094D+00    |proj g|=  2.28465D-01

At iterate   69    f=  4.75366D+00    |proj g|=  2.92926D-01

At iterate   70    f=  4.74832D+00    |proj g|=  2.96819D-01

At iterate   71    f=  4.74218D+00    |proj g|=  9.65638D-02

At iterate   72    f=  4.73954D+00    |proj g|=  1.60249D-01

At iterate   73    f=  4.73264D+00    |proj g|=  3.36277D-01

At iterate   74    f=  4.72732D+00    |proj g|=  3.41262D-01

At iterate   75    f=  4.72148D+00    |proj g|=  2.90964D-01

At iterate   76    f=  4.72038D+00    |proj g|=  4.65080D-01

At iterate   77    f=  4.71541D+00    |proj g|=  2.59019D-01

At iterate   78    f=  4.71298D+00    |proj g|=  6.02215D-02

At iterate   79    f=  4.71257D+00    |proj g|=  3.90440D-02

At iterate   80    f=  4.71184D+00    |proj g|=  4.08394D-02

At iterate   81    f=  4.71001D+00    |proj g|=  1.39431D-01

At iterate   82    f=  4.70814D+00    |proj g|=  2.46766D-01

At iterate   83    f=  4.70538D+00    |proj g|=  6.45817D-02

At iterate   84    f=  4.70395D+00    |proj g|=  6.37094D-02

At iterate   85    f=  4.70273D+00    |proj g|=  7.25223D-02

At iterate   86    f=  4.70128D+00    |proj g|=  3.34445D-02

At iterate   87    f=  4.70020D+00    |proj g|=  2.09396D-01

At iterate   88    f=  4.69619D+00    |proj g|=  8.79907D-02

At iterate   89    f=  4.69083D+00    |proj g|=  7.92957D-02

At iterate   90    f=  4.68837D+00    |proj g|=  3.85974D-02

At iterate   91    f=  4.68812D+00    |proj g|=  9.93346D-02

At iterate   92    f=  4.68768D+00    |proj g|=  3.25999D-02

At iterate   93    f=  4.68758D+00    |proj g|=  1.94046D-02

At iterate   94    f=  4.68756D+00    |proj g|=  1.93438D-02

At iterate   95    f=  4.68742D+00    |proj g|=  7.42626D-02

At iterate   96    f=  4.68719D+00    |proj g|=  8.20153D-02

At iterate   97    f=  4.68680D+00    |proj g|=  1.96106D-01

At iterate   98    f=  4.68589D+00    |proj g|=  1.08975D-01

At iterate   99    f=  4.68532D+00    |proj g|=  6.93085D-02

At iterate  100    f=  4.68519D+00    |proj g|=  2.65705D-02

           * * *

Tit   = total number of iterations
Tnf   = total number of function evaluations
Tnint = total number of segments explored during Cauchy searches
Skip  = number of BFGS updates skipped
Nact  = number of active bounds at final generalized Cauchy point
Projg = norm of the final projected gradient
F     = final function value

           * * *

   N    Tit     Tnf  Tnint  Skip  Nact     Projg        F
   15    100    124      1     0     0   2.657D-02   4.685D+00
  F =   4.6851877857099726

STOP: TOTAL NO. of ITERATIONS REACHED LIMIT
total time 0.54596 sec

 This problem is unconstrained.
/Users/user/anaconda3/envs/ml/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
[Parallel(n_jobs=10)]: Done   1 out of   1 | elapsed:    0.5s finished

## 7. Testing Trained Legistic Regression Model on Test Dataset

##### Testing the trained logistic regression model on the test dataset

In [22]:
acc_score = logit.score(X_test,y_test)

##### ACCURACY RATE from testing the model on the test dataset

In [23]:
print('The accuracy rate of testing the trained model on the test dataset is '+str(round(acc_score*100, 1))+'%.')

The accuracy rate of testing the trained model on the test dataset is 93.3%.